/* main.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 400px;
    margin-top: 20px;
  }
  
  .form-box {
    max-width: 500px;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: palevioletred;
    align-items: center;
  }
  
  .form-box input {
    display: block;
    width: 400px;
    margin-bottom: 10px;
    margin-left: center;
    margin-top: center;
    margin-right: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-align: center;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: green; 
    padding: 20px;
    border-radius: 10px; 
  }
  
  .modal-content {
    color: #ffffff; 
  }
  
.form-heading {
    text-align: center;
  }


/* .table-container{
    justify-content: center;
    align-items: center;
    margin-top: 800px;
    margin-left: 50px;
    align-items: center;
  }
   */
  .table-container {
    margin-top: 800px; /* Adjust the top margin as needed */
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }

.submission-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .submission-table th, .submission-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .submission-table th {
    background-color: #f2f2f2;
  }
  
  
  